:host {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #e6e6e6;

  &[data-view-mode="text"] {
    .graph-con {
      visibility: hidden;
      height: 0;
      overflow: hidden;
    }
  }

  &[data-view-mode="graph"] {
    .editable-container {
      visibility: hidden;
      height: 0;
      overflow: hidden;
      min-height: 0;
    }
  }

  .head {
    background-color: var(--bf-bg);
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 20px;
    border-bottom: 1px solid #e6e6e6;

    .btn {
      padding: 4px 8px;
      cursor: pointer;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: small;

      &:hover {
        background-color: rgba(153, 153, 153, .1);
      }

      > * {
        pointer-events: none;
      }
    }

    .switch-btn {
      position: absolute;
      top: 50%;
      right: var(--bf-lh);
      transform: translateY(-50%);
    }
  }

  .container {
    padding: 20px 20px;
    font-family: "DM Mono", monospace;
    color: #333;
  }

  .graph-con {
    overflow-x: auto;
  }
}

::ng-deep .template-list {
  background-color: #fff;
  border: 1px solid #f5f2f0;
  border-radius: 4px;
  padding: 4px;

  &_item {
    padding: 0 4px;
    height: calc(var(--bf-lh) * 1.5);
    line-height: calc(var(--bf-lh) * 1.5);
    text-align: center;
    font-size: calc(var(--bf-fs) * .8);
    color: #999;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: rgba(153, 153, 153, .1);
    }
  }
}
