:host {
  --code-padding-left: 30px;
  --code-padding-top: 20px;
  padding: var(--code-padding-top) var(--code-padding-left);
  border: 1px solid #dee0e3;
  border-radius: 4px;

  &:focus-within {
    .line-numbers {
      visibility: visible;
    }
  }

  .line-numbers {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: var(--code-padding-top);
    left: 0;
    width: calc(var(--code-padding-left) * 0.8);
    height: calc(100% - var(--code-padding-top) * 2);
    color: #abb2bf;
    font-size: calc(var(--bf-fs) * 0.9);
    pointer-events: none;
    user-select: none;
    overflow: hidden;

    > span {
      width: 100%;
      flex: 1;
      line-height: var(--bf-lh);
      text-align: end;
    }
  }

  .editable-container {
    background: transparent !important;
    color: transparent !important; /* 隐藏文本 */
    caret-color: black !important; /* 让光标可见 */
  }

  .editable-container, .highlight-container {
    font-size: var(--bf-fs);
    line-height: var(--bf-lh);
    overflow-wrap: break-word;
    font-family: "DM Mono", monospace;
  }

  ::ng-deep .highlight-container {
    position: absolute;
    top: var(--code-padding-top);
    left: var(--code-padding-left);
    width: 100%;
    pointer-events: none;
    white-space: pre;

    .variable {
      color: #d19a66;
    }

    .keyword {
      color: #c678dd;
    }

    .title {
      color: #61afef;
    }

    .number {
      color: #d19a66;
    }

    .string {
      color: #98c379;
    }

    .comment {
      color: #5c6370;
    }

    .function {
      color: #e06c75;
    }

    .operator {
      color: #56b6c2;
    }

    .punctuation {
      color: #abb2bf;
    }

    .tag {
      color: #e06c75;
    }

    .attr {
      color: #e06c75;
    }

    .attr-value {
      color: #98c379;
    }

    .attr-name {
      color: #e06c75;
    }

    .property {
      color: #e06c75;
    }

    .selector {
      color: #e06c75;
    }

    .builtin {
      color: #e06c75;
    }

    .class {
      color: #e06c75;
    }

    .constant {
      color: #d19a66;
    }

    .regex {
      color: #98c379;
    }

    .important {
      color: #e06c75;
    }

    .literal {
      color: #d19a66;
    }
  }
}

.xe-code-mode {
  user-select: none;
  position: absolute;
  top: .15em;
  left: 1.5em;
  font-size: calc(var(--xe-font-size) * .7);

  > span {
    display: flex;
    align-items: center;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: #86acff;
    cursor: pointer;

    > i {
      font-size: inherit;
      transform: rotate(180deg);
    }
  }
}

.code-mode-list {
  width: 80px;
  background-color: #fff;
  border: 1px solid #f5f2f0;
  border-radius: 4px;

  &_item {
    border-bottom: 1px solid #f5f2f0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #999;
    cursor: pointer;

    &:hover {
      color: #86acff;
    }
  }
}
