:host {
  padding: 0 10px;
  line-height: var(--bf-lh);

  .editable-container {
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    color: transparent;      /* 隐藏文本 */
    caret-color: black;      /* 让光标可见 */
  }

  ::ng-deep .highlight-container {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
    pointer-events: none;
    font-size: inherit;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;

    .variable {
      color: #d19a66;
    }

    .keyword {
      color: #c678dd;
    }

    .title {
      color: #61afef;
    }

    .number {
      color: #d19a66;
    }

    .string {
      color: #98c379;
    }

    .comment {
      color: #5c6370;
    }

    .function {
      color: #e06c75;
    }

    .operator {
      color: #56b6c2;
    }

    .punctuation {
      color: #abb2bf;
    }

    .tag {
      color: #e06c75;
    }

    .attr {
      color: #e06c75;
    }

    .attr-value {
      color: #98c379;
    }

    .attr-name {
      color: #e06c75;
    }

    .property {
      color: #e06c75;
    }

    .selector {
      color: #e06c75;
    }

    .builtin {
      color: #e06c75;
    }

    .class {
      color: #e06c75;
    }

    .constant {
      color: #d19a66;
    }

    .regex {
      color: #98c379;
    }

    .important {
      color: #e06c75;
    }

    .literal {
      color: #d19a66;
    }
  }
}
