<div class="line-numbers">
  <span *ngFor="let line of lines; let i = index">
    {{i + 1}}
  </span>
</div>

<div class="editable-container bf-multi-line bf-plain-text-only">
</div>

<div class="highlight-container" #highlighter></div>

<div class="lang-btn" (click)="showLangList($event)">
  <span>{{props.lang | lang}}</span> <i class="bf_icon bf_xiajaintou"></i>
</div>
<ng-template #langListTpl>
  <div class="lang-list">
    <div class="lang-list_item" *ngFor="let item of languageList"
      (click)="changeLanguage(item.value)">
      {{item.name}}
    </div>
  </div>
</ng-template>