@mixin attachment-block() {

  div.attachment-block {
    padding: 6px 18px;
    border: 1px solid var(--bc-border-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 480px;

    &__prefix {
      position: absolute;
      top: var(--bc-fs);
      left: 10px;
      font-size: var(--bc-fs);
    }

    &__info {
      padding: 8px 16px;
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
    }

    &__name {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--bc-color);
      font-size: calc(var(--bc-fs) + 2px);
      font-style: normal;
      font-weight: 600;
    }

    &__size {
      margin-top: 10px;
      font-size: small;
      color: var(--bc-color-light);
    }

    &__icon-wrapper {
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      mat-icon {
        font-size: 40px;
        height: 40px;
        width: 40px;
      }
    }
  }
}
