@mixin bullet-block {
  div.bullet-block {
    width: 100%;
    display: flex;
    align-items: flex-start;

    .bullet-block-prefix {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1em;
      height: 1lh;

      .square {
        width: calc(var(--bc-fs) * 0.5);
        height: calc(var(--bc-fs) * 0.5);
        background-color: var(--bc-active-color);
      }

      .circle {
        width: calc(var(--bc-fs) * 0.5);
        height: calc(var(--bc-fs) * 0.5);
        border-radius: 50%;
        border: 1px solid var(--bc-active-color);
      }

      .point {
        width: calc(var(--bc-fs) * 0.5);
        height:calc(var(--bc-fs) * 0.5);
        border-radius: 50%;
        background-color: var(--bc-active-color);
      }
    }
  }
}
