@mixin code-block {
  @at-root #{selector-unify(&, '.readonly')} {

  }

  div.code-block {
    --code-padding-left: calc(var(--bc-fs) * 2.5);
    --code-padding-top: calc(var(--bc-lh) * 1.5);
    --code-padding-bottom: 20px;
    padding: var(--code-padding-top) var(--code-padding-left) var(--code-padding-bottom);
    position: relative;
    border: 1px solid #e6e6e6;
    --code-font-family: "DM Mono", monospace;
    border-radius: 4px;
    caret-color: #000;

    &.focused .edit-container {
      [data-line-break="true"]::before,
      c-element:first-of-type::before,
      c-element[data-line-break]:first-of-type::after {
        visibility: visible;
      }
    }

    .edit-container {
      background: none;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      font-size: 1em;
      line-height: 1.8em;
      text-align: left;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      -moz-tab-size: 2;
      -o-tab-size: 2;
      tab-size: 2;
      white-space-collapse: break-spaces;

      counter-set: line;

      [data-line-break="true"]::before,
      c-element:first-of-type::before,
      c-element[data-line-break]:first-of-type::after {
        visibility: hidden;
        position: absolute;
        left: .5em;
        content: counter(line);
        counter-increment: line;
        line-height: 1.8em;
        font-size: 1em;
        opacity: .6;
        color: var(--bc-color-light);
      }

      [data-line-break="true"]::before {
        transform: translateY(100%);
      }

      c-element:first-of-type::before {
        transform: unset;
      }
    }

    [type="variable"] {
      color: #d19a66;
    }

    [type="keyword"] {
      color: #c678dd;
    }

    [type="title"] {
      color: #61afef;
    }

    [type="number"] {
      color: #d19a66;
    }

    [type="string"] {
      color: #98c379;
    }

    [type="comment"] {
      color: #5c6370;
    }

    [type="function"] {
      color: #e06c75;
    }

    [type="operator"] {
      color: #56b6c2;
    }

    [type="punctuation"] {
      color: #abb2bf;
    }

    [type="tag"] {
      color: #e06c75;
    }

    [type="attr"] {
      color: #e06c75;
    }

    [type="attr-value"] {
      color: #98c379;
    }

    [type="attr-name"] {
      color: #e06c75;
    }

    [type="property"] {
      color: #e06c75;
    }

    [type="selector"] {
      color: #e06c75;
    }

    [type="builtin"] {
      color: #e06c75;
    }

    [type="class"] {
      color: #e06c75;
    }

    [type="constant"] {
      color: #d19a66;
    }

    [type="regex"] {
      color: #98c379;
    }

    [type="important"] {
      color: #e06c75;
    }

    [type="literal"] {
      color: #d19a66;
    }

    [type="tag"] {
      color: #e067c5;
    }

    &.focused, &:hover {
      .head-btn__group {
        visibility: visible;
      }
    }

    .head-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      text-align: center;
      gap: 4px;
      color: #999;
      border-radius: 4px;
      padding: 0 4px;
      height: calc(var(--code-padding-top) * 0.8);
      white-space: nowrap;

      &__group {
        visibility: hidden;
        user-select: none;
        position: absolute;
        top: 0;
        right: var(--code-padding-left);
        font-size: calc(var(--bf-fs) * .7);
        line-height: var(--code-padding-top);
        height: var(--code-padding-top);
        gap: 8px;
        display: flex;
        align-items: center;

        &.active {
          visibility: visible;
        }
      }

      > span {
        pointer-events: none;
        height: var(--code-padding-top);
        line-height: var(--code-padding-top);
      }

      > i {
        font-size: inherit;
        pointer-events: none;
      }

      &:hover {
        background-color: rgba(153, 153, 153, .1);
      }
    }

  }

}
