@mixin code-block {
  div.code-block {
    --code-padding-left: calc(var(--bc-fs) * 2.8);
    --code-padding-bottom: ;
    position: relative;
    border: 1px solid #e6e6e6;
    --code-font-family: "DM Mono", monospace;
    border-radius: 8px;
    caret-color: #000;

    &.focused {
      border: 1px solid var(--bc-active-color);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);

      .resize-bar-btm {
        display: block;
      }
    }

    &.focused .edit-container {
      [data-line-break="true"]::before,
      c-element:first-of-type::before,
      c-element[data-line-break]:first-of-type::after {
        visibility: visible;
      }
    }

    .edit-container-wrapper {
      position: relative;
      overflow-y: auto;
      padding: var(--bc-lh) var(--code-padding-left) var(--bc-lh);
    }

    .edit-container {
      background: none;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      font-size: 1em;
      line-height: 1.8em;
      text-align: left;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      -moz-tab-size: 2;
      -o-tab-size: 2;
      tab-size: 2;
      white-space-collapse: break-spaces;
      min-height: 1.8em;

      counter-set: line;

      [data-line-break="true"]::before,
      c-element:first-of-type::before,
      c-element[data-line-break]:first-of-type::after {
        visibility: hidden;
        position: absolute;
        left: .5em;
        content: counter(line);
        counter-increment: line;
        line-height: 1.8em;
        font-size: 1em;
        opacity: .6;
        color: var(--bc-color-light);
      }

      [data-line-break="true"]::before {
        transform: translateY(100%);
      }

      c-element:first-of-type::before {
        transform: unset;
      }

      @include code-highlight;
    }

    &.focused, &:hover {
      .head-btn__group, .head-btn.btn-collapse {
        visibility: visible;
      }
    }

    &.is-collapse {
      .head-btn.btn-collapse {
        > i {
          transform: rotate(0);
        }
      }

      .code-block__head {
        border-bottom: 0;
        border-radius: 8px;
      }

      .edit-container-wrapper {
        max-height: 0;
        overflow: hidden;
        padding: 0;
      }

      .resize-bar-btm {
        display: none !important;
      }
    }

    .code-block__head {
      overflow: hidden;
      width: 100%;
      display: flex;
      padding: 4px 8px;
      align-items: center;
      background: #F7F9FE;
      border-bottom: 1px solid #e6e6e6;
      border-radius: 8px 8px 0 0;
    }

    .head-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      text-align: center;
      gap: 4px;
      border-radius: 4px;
      padding: 2px 4px;
      white-space: nowrap;
      color: var(--bc-color-light);
      font-size: calc(var(--bf-fs) * .8);

      &.btn-collapse {
        visibility: hidden;
        font-size: calc(var(--bc-fs) * .6);

        > i {
          transform: rotate(90deg);
          transition: transform .2s ease;
        }
      }

      &__group {
        flex: 1;
        user-select: none;
        gap: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      > span {
        pointer-events: none;
      }

      > i {
        font-size: inherit;
        pointer-events: none;
      }

      &:hover {
        background-color: rgba(153, 153, 153, .1);
      }
    }

    .resize-bar-btm {
      display: none;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 4px;
      cursor: ns-resize;
      user-select: none;

      .bar-drag {
        position: absolute;
        height: 12px;
        width: 100px;
        left: calc(50% - 50px);
        top: -4px;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #e6e6e6;
        transition: all ease .2s;

        &:hover {
          background-color: #f7f9fe;
          box-shadow: 0 0 5px rgba(0, 0, 0, .05);
        }

        &::after {
          content: '＝';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 12px;
          color: #e6e6e6;
        }
      }

    }
  }

}

@mixin code-highlight {
  [type="variable"] {
    color: #005f87; // 深蓝青
  }

  [type="keyword"] {
    color: #d12f1b; // 鲜红
  }

  [type="title"] {
    color: #8e44ad; // 紫色，常用于 class/function 名
  }

  [type="number"] {
    color: #c25e00; // 暗橘色
  }

  [type="string"] {
    color: #2a7b00; // 深绿色
  }

  [type="comment"] {
    color: slategray; // 灰色
    font-style: italic;
  }

  [type="function"] {
    color: #0066cc; // 亮蓝色
  }

  [type="operator"] {
    color: #aa00aa; // 品红
  }

  [type="punctuation"] {
    color: #999; // 深灰
  }

  [type="tag"] {
    color: #aa3731; // 红棕色
  }

  [type="attr"] {
    color: #6c71c4; // 柔紫色
  }

  [type="attr-name"] {
    color: #2980b9; // 蓝色
  }

  [type="attr-value"] {
    color: #27ae60; // 草绿色
  }

  [type="property"] {
    color: #d35400; // 烧橙
  }

  [type="selector"] {
    color: #b58900; // 黄棕色
  }

  [type="builtin"] {
    color: #1c00cf; // 深蓝紫
  }

  [type="class"] {
    color: #9b59b6; // 淡紫色
  }

  [type="constant"] {
    color: #cb4b16; // 橘棕
  }

  [type="regex"] {
    color: #008000; // 标准绿色
    font-style: italic;
  }

  [type="important"] {
    color: #d33682; // 品红偏紫
    font-weight: bold;
  }

  [type="literal"] {
    color: #795548; // 棕色
  }

  [type="arrow"] {
    color: #afc2cc; // 亮蓝青
  }
}


