@mixin divider-block {
  .divider-block {
    margin: 8px 0;
    padding: 1em 0;

    .divide-line {
      height: 1px;
      background-color: var(--bc-border-color);
      font-size: 0;
    }
  }
}
