@mixin mermaid-block {
  div.mermaid-block {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #e6e6e6;

    &.selected {
      border-color: var(--bc-active-color);
      background-color: unset;
    }

    &[data-mode="text"] {
      .graph-container {
        visibility: hidden;
        height: 0;
        overflow: hidden;
      }
    }

    &[data-mode="graph"] {
      .mermaid-textarea {
        visibility: hidden;
        height: 0;
        overflow: hidden;
        padding: 0;
      }
    }

    .graph-container {
      overflow: auto;
      scroll-behavior: smooth;
      scrollbar-width: thin;
      max-height: 60vh;
    }

    .graph-con {
      padding: 10px;
    }

    .head {
      display: flex;
      align-items: center;
      position: relative;
      padding: 8px 20px;
      border-bottom: 1px solid #e6e6e6;

      .btn {
        padding: 4px 8px;
        cursor: pointer;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: small;
        color: var(--bc-color-light);

        &:hover, &.active {
          background-color: rgba(153, 153, 153, .1);
        }

        >* {
          pointer-events: none;
        }
      }

      .switch-btn {
        position: absolute;
        top: 50%;
        right: var(--bf-lh);
        transform: translateY(-50%);
      }
    }

    .control-btns {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      padding: 8px 40px 8px 16px;

      .btn {
        font-size: var(--bc-fs-xl);
      }

      .text {
        color: var(--bc-color-light);
      }
    }
  }

  .mermaid-textarea {
    margin-bottom: 0;
    padding: 16px;
    font-family: "DM Mono", monospace;
    color: #333;
    font-size: var(--bc-fs-sm);
  }
}
