@import "../function";
@import "./code-block";

@mixin mermaid-block {
  @at-root {
    @at-root  {
      .blockcraft-mermaid-preview-graph {
        img {
          background: #fff;
        }
      }
    }
  }

  div.mermaid-block {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #e6e6e6;

    &.selected {
      border-color: var(--bc-active-color);
      background-color: unset;

      .graph-con {
        cursor: zoom-in;
      }
    }

    &[data-mode="default"] {

      .content {
        display: flex;
      }

      .graph-container {
        border-left: 1px solid var(--bc-border-color);
      }
    }

    &[data-mode="text"] {
      .graph-container {
        visibility: hidden;
        height: 0;
        overflow: hidden;
      }
    }

    &[data-mode="graph"] {
      .text-container {
        visibility: hidden;
        height: 0;
        overflow: hidden;
        padding: 0;
      }
    }

    .text-container, .graph-container {
      flex: 1;
      overflow: auto;
      scrollbar-width: thin;
      max-height: 60vh;
    }

    .edit-container {
      padding: 16px;
    }

    .graph-con {
      padding: 10px;
    }

    .head {
      display: flex;
      align-items: center;
      position: relative;
      padding: 0 20px;
      border-bottom: 1px solid #e6e6e6;
      height: 45px;

      .btn {
        padding: 4px 8px;
        cursor: pointer;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: small;
        color: var(--bc-color-light);
        @include user-select(none);
        @include user-modify(read-only);

        &:hover, &.active {
          background-color: rgba(153, 153, 153, .1);
        }

        > * {
          pointer-events: none;
        }
      }

      .switch-btn {
        position: absolute;
        top: 50%;
        right: var(--bf-lh);
        transform: translateY(-50%);
      }
    }

    .control-btns {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      padding: 8px 40px 8px 16px;

      .btn {
        font-size: var(--bc-fs-xl);
      }

      .text {
        color: var(--bc-color-light);
      }
    }
  }

  .mermaid-textarea {
    margin-bottom: 0;
    padding: 6px;
    font-family: Menlo, Monaco, "Courier New", monospace;
    color: #333;
    font-size: small;
    tab-size: 1em;

    @include code-highlight;
  }
}
