[data-blockcraft-root="true"] {

  &.readonly {
    .ordered-block .ordered-block-prefix {
      cursor: unset;

      &:hover {
        background-color: unset;
      }
    }
  }

  .ordered-block {
    max-width: 100%;
    display: flex;
    align-items: flex-start;

    .ordered-block-prefix {
      flex-shrink: 0;
      margin-right: .4em;
      cursor: pointer;
      color: var(--bc-active-color);
      border-radius: 4px;
      padding: 0 4px 0 0;
      border: none;
      background: none;
      font-size: 1em;
      min-width: 1.2em;

      &:hover {
        background-color: var(--bc-select-background-color);
      }
    }

    .edit-container {
      width: 100%;
      min-width: 0;
    }
  }
}
