@mixin todo-block {
  div.todo-block {
    display: flex;
    align-items: flex-start;
    gap: 4px;

    .todo-block-button {
      cursor: pointer;
      outline: none;
      border: none;
      background: none;

      > i {
        pointer-events: none;
      }
    }

    .edit-container {
      flex: 1;
    }
  }
}
