@import "../../assets/iconfont/iconfont.css";

bf-editor {
  display: block;
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  padding: 30px;
  box-sizing: border-box;

  p, div, span, h1, h2, h3, h4, h5, h6, ul, ol, li, blockquote, pre, table, thead, tbody, tr, th, td, hr, figure, figcaption, img, a, strong, em, u, s, code, br, hr {
    margin: 0;
    padding: 0;
  }

  --bf-c: #000;
  --bf-fs: 16px;
  --bf-lh: 20px;
  --bf-bg: #fff;
  --bf-placeholder: #ccc;
  --bf-anchor: #4857E2;
  --bf-anchor-hover: #4857E2;

  font-size: var(--bf-fs);
  line-height: var(--bf-lh);
  color: var(--bf-c);

  .editable-container {
    > span {
      white-space: pre-wrap;
    }

    &.placeholder-visible {
      &::after {
        content: attr(placeholder);
        opacity: .6;
        pointer-events: none;
      }
    }
  }

  [contenteditable="true"] {
    outline: none;
  }

  [contenteditable="false"] {
    user-select: none;
  }

  [bf-block-wrap] {
    position: relative;
    margin-bottom: 16px;
  }

  [bf-node-type="root"] {
    position: relative;
    display: block;
    outline: none;
  }

  [bfi-bold="true"] {
    font-weight: bold;
  }

  [bfi-italic="true"] {
    font-style: italic;
  }

  [bfi-underline="true"] {
    text-decoration: underline;
  }

  [bfi-strike="true"] {
    text-decoration: line-through;
  }

  [bfi-underline="true"][bfi-strike="true"] {
    text-decoration: underline line-through;
  }

  [bfi-code="true"] {
    background-color: #e9e9e9;
    padding: 0 0.2em;
    border-radius: 0.2em;
  }

  [bfi-link="true"] {
    color: #4857E2;
    text-decoration: underline;
    cursor: pointer;

    //&:before {
    //  content: '\e6af';
    //  font-family: "bf_icon" !important;
    //  font-size: 16px;
    //  font-style: normal;
    //  -webkit-font-smoothing: antialiased;
    //  -moz-osx-font-smoothing: grayscale;
    //}
  }

  [bf-embed="mention"] {
    padding: 0 .15em;
    color: #4857E2;
    cursor: pointer;

    &::before {
      content: '@' attr(data-mention-name);
    }

    &:hover {
      background-color: rgba(72, 87, 226, 0.1);
      border-radius: 4px;
    }
  }

  ::selection {
    background: rgba(46, 115, 252, .4);
  }

}

// block-selection
.blockflow-selection-area {
  z-index: 1060;
  background: rgba(46, 115, 252, 0.2);
  border: 1px solid rgba(98, 155, 255, 0.81);
  border-radius: 0.1em;
}

.bf-block-selected {
  background: rgba(46, 115, 252, 0.2);
}

