@import "../../styles/doc-library.common";

:host {

  .btn-more {
    @include btn-more;
  }

  td {
    color: #999;

    &:last-of-type {
      position: relative;

      .btn-more {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .table-menu__td__title {
    display: flex;
    align-items: center;
    gap: 8px;

    mat-icon {
      width: 32px;
      height: 32px;
    }

    .info {

      > div {
        display: flex;
        gap: 10px;
        align-items: center;

        > span {
          color: #333;
          font-size: 14px;
        }

        .tag {
          border-radius: 4px;
          font-size: 12px;
          height: 18px;
          line-height: 18px;
          padding: 0 4px;
          background: #E8D9FF;
        }
      }

      .folder {
        display: flex;
        align-items: center;
        height: 25px;
        gap: 4px;
        font-size: 12px;
        color: #999;

        > i {
        }
      }

    }
  }

}
