@font-face {
  font-family: "bf_icon"; /* Project id 4682833 */
  src: url('//at.alicdn.com/t/c/font_4682833_f6134nag6rw.woff2?t=1729678963369') format('woff2'),
  url('//at.alicdn.com/t/c/font_4682833_f6134nag6rw.woff?t=1729678963369') format('woff'),
  url('//at.alicdn.com/t/c/font_4682833_f6134nag6rw.ttf?t=1729678963369') format('truetype'),
  url('//at.alicdn.com/t/c/font_4682833_f6134nag6rw.svg?t=1729678963369#bf_icon') format('svg');
}

.bf_icon {
  font-family: "bf_icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bf_dianzan1:before {
  content: "\e8db";
}

.bf_kuaijiefangshi:before {
  content: "\e8da";
}

.bf_gongxiang1:before {
  content: "\e8d9";
}

.bf_open-link:before {
  content: "\e8d2";
}

.bf_jinzhichakan:before {
  content: "\e84a";
}

.bf_chakan:before {
  content: "\e849";
}

.bf_dianzan:before {
  content: "\e854";
}

.bf_a-101:before {
  content: "\e8d5";
}

.bf_bianji_1:before {
  content: "\e8d4";
}

.bf_jiebang:before {
  content: "\e8d0";
}

.bf_subtract:before {
  content: "\e751";
}

.bf_search-02:before {
  content: "\e752";
}

.bf_check-contained:before {
  content: "\e6ea";
}

.bf_chat-up:before {
  content: "\e723";
}

.bf_shaixuan:before {
  content: "\e732";
}

.bf_add-square-04:before {
  content: "\e734";
}

.bf_profile:before {
  content: "\e735";
}

.bf_file-question:before {
  content: "\e736";
}

.bf_sepan:before {
  content: "\e73c";
}

.bf_sort-vertical:before {
  content: "\e740";
}

.bf_file-search-02:before {
  content: "\e74a";
}

.bf_sort-vertical-down:before {
  content: "\e750";
}

.bf_shoucang-fill:before {
  content: "\e6e8";
}

.bf_wenjianjia:before {
  content: "\e7f6";
}

.bf_search:before {
  content: "\e65f";
}

.bf_xuanzhong-fill:before {
  content: "\e776";
}

.bf_weixuanzhong:before {
  content: "\e689";
}

.bf_frame:before {
  content: "\e71a";
}

.bf_column-vertical:before {
  content: "\e71c";
}

.bf_a-Frame1000005755:before {
  content: "\e6d8";
}

.bf_tupianjuzhong:before {
  content: "\e6df";
}

.bf_yidong:before {
  content: "\e6fa";
}

.bf_zuojiantou-jia:before {
  content: "\e706";
}

.bf_youjiantou-jia:before {
  content: "\e709";
}

.bf_tupianjuyou:before {
  content: "\e712";
}

.bf_tupianjuzuo:before {
  content: "\e716";
}

.bf_fuzhi:before {
  content: "\e6c2";
}

.bf_jiazai:before {
  content: "\e699";
}

.bf_wenzhongkuaijiechuangjianrenwu_tianjiarenyuan:before {
  content: "\e713";
}

.bf_youjiantou:before {
  content: "\e714";
}

.bf_baoming:before {
  content: "\e715";
}

.bf_tianjiamiaoshu:before {
  content: "\e717";
}

.bf_tixing:before {
  content: "\e718";
}

.bf_shouye_wendang:before {
  content: "\e719";
}

.bf_xinxishouji_kaolv:before {
  content: "\e71b";
}

.bf_xuanzhong:before {
  content: "\221a";
}

.bf_renwu:before {
  content: "\e71d";
}

.bf_quxiao:before {
  content: "\e71e";
}

.bf_ganxingqu:before {
  content: "\e71f";
}

.bf_caijian:before {
  content: "\e720";
}

.bf_huanyige:before {
  content: "\e721";
}

.bf_qiandao:before {
  content: "\e722";
}

.bf_tianjiatupian:before {
  content: "\2b";
}

.bf_xiazai-2:before {
  content: "\e724";
}

.bf_xuanfuzaixuanfukuangshang_fuzhilianjie:before {
  content: "\e725";
}

.bf_shanchu-2:before {
  content: "\e726";
}

.bf_biaoqian:before {
  content: "\e727";
}

.bf_jianshaosuojin:before {
  content: "\e728";
}

.bf_wendangneilishijilushouqihou:before {
  content: "\e729";
}

.bf_chuangjianrenwu:before {
  content: "\e72a";
}

.bf_queding:before {
  content: "\e72b";
}

.bf_tupianlianjie:before {
  content: "\e72c";
}

.bf_pinglun:before {
  content: "\e72d";
}

.bf_youduiqi:before {
  content: "\e72e";
}

.bf_zuoduiqi:before {
  content: "\e72f";
}

.bf_yanse:before {
  content: "\e730";
}

.bf_xuanfuzaixuanfukuangshang_zitiyanse:before {
  content: "\e731";
}

.bf_zengjiasuojin:before {
  content: "\e733";
}

.bf_suojinheduiqi:before {
  content: "\e737";
}

.bf_juzhongduiqi:before {
  content: "\e738";
}

.bf_daimakuai:before {
  content: "\e739";
}

.bf_wuxuliebiao:before {
  content: "\e73a";
}

.bf_xiajaintou:before {
  content: "\e73b";
}

.bf_tianjia:before {
  content: "\e73d";
}

.bf_jiacu:before {
  content: "\e73e";
}

.bf_jianqie:before {
  content: "\e73f";
}

.bf_youxuliebiao:before {
  content: "\e741";
}

.bf_youxiajiaoyiwen_xiaoshuaizhinan:before {
  content: "\e742";
}

.bf_xiahuaxian:before {
  content: "\e743";
}

.bf_shanchuxian:before {
  content: "\e744";
}

.bf_xuanfuzaixuanfukuangshang_xiuding:before {
  content: "\e745";
}

.bf_aixin:before {
  content: "\e746";
}

.bf_wenben:before {
  content: "\e747";
}

.bf_gongnenggengxin:before {
  content: "\e748";
}

.bf_bangzhu:before {
  content: "\e749";
}

.bf_duiqifangshi:before {
  content: "\e74b";
}

.bf_moban-color:before {
  content: "\e74c";
}

.bf_jihaobi:before {
  content: "\e74d";
}

.bf_xiuding:before {
  content: "\e74e";
}

.bf_xieti:before {
  content: "\e74f";
}

.bf_fengexian:before {
  content: "\e6a9";
}

.bf_gaoliangkuai:before {
  content: "\e6aa";
}

.bf_gongzuoshixiang:before {
  content: "\e6ac";
}

.bf_biaoti_4:before {
  content: "\e6ae";
}

.bf_lianjie-2:before {
  content: "\e6af";
}

.bf_biaoti_3:before {
  content: "\e6b1";
}

.bf_fenlan-color:before {
  content: "\e6b2";
}

.bf_biaoti_2:before {
  content: "\e6b3";
}

.bf_tongbukuai:before {
  content: "\e6b4";
}

.bf_biaoti_1:before {
  content: "\e6b5";
}

.bf_yinyong-2:before {
  content: "\e6b6";
}

.bf_fengexian-color:before {
  content: "\e6b7";
}

.bf_gaoliangkuai-color:before {
  content: "\e6b8";
}

.bf_tongbukuai-color:before {
  content: "\e6b9";
}

.bf_bianjiwendangzhongdianjijiahao_changyong_renwuchuangjianliebiao:before {
  content: "\e6ba";
}

.bf_liuchengtu-color:before {
  content: "\e6bb";
}

.bf_lianjie-color:before {
  content: "\e6bc";
}

.bf_bianjiwendangzhongdianjijiahao_shuju_shujubiaoge_gantetu:before {
  content: "\e6bd";
}

.bf_gengduo-clolor:before {
  content: "\e6be";
}

.bf_tupian-color:before {
  content: "\e6bf";
}

.bf_yinyong-color:before {
  content: "\e6c0";
}

.bf_siweidaotu-color:before {
  content: "\e6c1";
}

.bf_pizhu-color:before {
  content: "\e6c3";
}

.bf_shijian-color:before {
  content: "\e6c4";
}

.bf_bianjiwendangzhongdianjijiahao_xietong_xuqiuqueren:before {
  content: "\e6c5";
}

.bf_xietonghuiyi-color:before {
  content: "\e6c6";
}

.bf_xinxishouji-color:before {
  content: "\e6c7";
}

.bf_wendang-color:before {
  content: "\e6c8";
}

.bf_chehui:before {
  content: "\e6c9";
}

.bf_tixing-color:before {
  content: "\e6ca";
}

.bf_wenjian-color:before {
  content: "\e6cb";
}

.bf_bianjiwendangzhongdianjijiahao_shuju_shujubiaoge:before {
  content: "\e6cc";
}

.bf_chuangjianrenwu-color:before {
  content: "\e6cd";
}

.bf_bianjiwendangzhongdianjijiahao_xietong_renyuan:before {
  content: "\e6ce";
}

.bf_bianjizhongtoubu_juyouduiqi:before {
  content: "\e6cf";
}

.bf_gongzuoshixiang-color:before {
  content: "\e6d0";
}

.bf_charu:before {
  content: "\e6d1";
}

.bf_huitui:before {
  content: "\e6d2";
}

.bf_chazhao:before {
  content: "\e6d3";
}

.bf_shijianzhou-color:before {
  content: "\e6d4";
}

.bf_yinyong:before {
  content: "\e6d5";
}

.bf_jianshaosuojin-color:before {
  content: "\e6d6";
}

.bf_bianjizhongtoubu_juzuoduiqi:before {
  content: "\e6d7";
}

.bf_guanbi:before {
  content: "\e6d9";
}

.bf_zengjiasuojin-color:before {
  content: "\e6da";
}

.bf_qunminpian-color:before {
  content: "\e6db";
}

.bf_charutupian:before {
  content: "\e6dc";
}

.bf_erjidaohang_caogaoxiang:before {
  content: "\e6dd";
}

.bf_bianjiwendangzhongdianjijiahao_xietong_gongzuoyaodiandaojishi:before {
  content: "\e6de";
}

.bf_biaoqing:before {
  content: "\e6e0";
}

.bf_bianjizhongtoubu_charulianjie:before {
  content: "\e6e1";
}

.bf_huishouzhan:before {
  content: "\e6e2";
}

.bf_youxuliebiao-color:before {
  content: "\e6e3";
}

.bf_gongxiangkongjian-color:before {
  content: "\e6e4";
}

.bf_wuxuliebiao-color:before {
  content: "\e6e5";
}

.bf_xiuding-2:before {
  content: "\e6e6";
}

.bf_caidan:before {
  content: "\e6e7";
}

.bf_gongzuoyaodian:before {
  content: "\e6e9";
}

.bf_tianjia-2:before {
  content: "\e6eb";
}

.bf_shoucang:before {
  content: "\e6ec";
}

.bf_lishijiluzhankai_fabu:before {
  content: "\e6ed";
}

.bf_erjidaohang_shouye:before {
  content: "\e6ee";
}

.bf_quanxian:before {
  content: "\e6ef";
}

.bf_liebiaozhongzuiyoucegengduo_chuangjiankuaijiefangshi:before {
  content: "\e6f0";
}

.bf_hangjianju:before {
  content: "\e6f1";
}

.bf_tiji:before {
  content: "\e6f2";
}

.bf_yiwen:before {
  content: "\e6f3";
}

.bf_fenxiang:before {
  content: "\e6f4";
}

.bf_lianjie:before {
  content: "\e6f5";
}

.bf_liebiaozuiyoucegengduo_wendangcaozuo_duorenxiezuo:before {
  content: "\e6f6";
}

.bf_fanyi:before {
  content: "\e6f7";
}

.bf_huifu:before {
  content: "\e6f8";
}

.bf_gengduo-2:before {
  content: "\e6f9";
}

.bf_chazhaohetihuan:before {
  content: "\e6fb";
}

.bf_zhishiku-color:before {
  content: "\e6fc";
}

.bf_wodekongjian:before {
  content: "\e6fd";
}

.bf_gengduo-3:before {
  content: "\e6fe";
}

.bf_guanxi:before {
  content: "\e6ff";
}

.bf_shouye_yidongerjidaohangdaxiaoanniu:before {
  content: "\e700";
}

.bf_yichu:before {
  content: "\e701";
}

.bf_dulichuangkou:before {
  content: "\e702";
}

.bf_tianjiabiaoqian:before {
  content: "\e703";
}

.bf_gengduo:before {
  content: "\e704";
}

.bf_xinxi:before {
  content: "\e705";
}

.bf_lishijilu:before {
  content: "\e707";
}

.bf_wenjianjia-color:before {
  content: "\e708";
}

.bf_shiyongzhinan:before {
  content: "\e70a";
}

.bf_yidongdao:before {
  content: "\e70b";
}

.bf_shanchu:before {
  content: "\e70c";
}

.bf_kuandu:before {
  content: "\e70d";
}

.bf_tianjia-color:before {
  content: "\e70e";
}

.bf_bianji:before {
  content: "\e70f";
}

.bf_wendangguanxi:before {
  content: "\e710";
}

.bf_xiazai:before {
  content: "\e711";
}
