<div class="table-header_row-bar" (click)="onShowRowBar($event)" [class.active]="activeRowIdx >= 0">
    <span *ngFor="let row of _rowHeights; index as idx; trackBy: trackByValue" [attr.data-row-idx]="idx"
          [class.active]="activeRowIdx === idx" [class.hover]="hoverCell[0] === idx" [style.height.px]="row || 0"></span>
</div>

<div class="table-wrapper" [class.col-head]="props.colHead" [class.row-head]="props.rowHead" #wrapper>
  <div class="table-col-resize-bar" *ngIf="!(controller.readonly$ | async)" [class.active]="resizing$ | async"
       [hidden]="resizeColIdx < 0" [style.left.px]="resizeBarX" (mousedown)="onResizebarMouseDown($event)"></div>

  <div class="table-header_col-bar" (click)="onShowColBar($event)" [class.active]="activeColIdx >= 0">
    <span *ngFor="let col of _colWidths; index as idx" [style.width.px]="col" [attr.data-col-idx]="idx"
          [class.active]="activeColIdx === idx" [class.hover]="hoverCell[1] === idx"></span>
  </div>

  <table tabindex="0" #tableElement (keydown)="onKeyDown($event)" (blur)="onBlur()" (mousedown)="onMouseDown($event)"
         (mouseover)="onMouseOver($event)">
    <colgroup>
      <col *ngFor="let column of _colWidths; index as idx; trackBy: trackByValue" [width]="column"/>
    </colgroup>

    <tbody>
    <tr class="table-row" *ngFor="let row of model.children; index as rowIdx; trackBy: trackById" [rowIdx]="rowIdx"
        [controller]="controller" [model]="$any(row)" [class.active]="activeRowIdx === rowIdx"
        (heightChange)="onRowHeightChange($event, rowIdx)">
    </tr>
    </tbody>
  </table>
</div>





