[data-blockcraft-root="true"] {
  .blockquote-block {
    position: relative;
    padding-block: calc(10px + var(--bc-block-leading-sb, 0pt)) 10px;
    padding-inline: 10px 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background: var(--bc-border-color);
    }

    &[data-bc-block-border]::before {
      background: var(--bc-block-border-color);
    }
    //
    //&:has(+ .blockquote-block) {
    //  padding-bottom: 0;
    //}
    //
    //+.blockquote-block {
    //  padding-top: 0;
    //
    //  &::before {
    //    top: calc(-1 * var(--bc-segments-gap));
    //    height: calc(100% + var(--bc-segments-gap));
    //  }
    //}
  }
}
