[data-blockcraft-root="true"] {
  .render-unit-block {
    --bc-render-unit-background-color: transparent;
    --bc-render-unit-border-color: transparent;
    min-height: calc(var(--bc-lh) * var(--bc-fs));
    border-radius: 4px;
    background-color: var(--bc-render-unit-background-color);
    background-color: color-mix(
      in srgb,
      var(--bc-render-unit-background-color) var(--bc-solid-block-background-opacity, 82%),
      transparent
    );
    outline: 1px solid var(--bc-render-unit-border-color);
    outline-offset: -1px;
  }

  .render-unit-content {
    min-height: inherit;
  }
}
