@import "./blocks/todo-block.scss";
@import "./blocks/code-block.scss";
@import "./blocks/divider-block.scss";
@import "./blocks/callout-block.scss";

:root {
  --bc-fs: 16px;
  --bc-lh: 22px;
}

[data-blockcraft-root="true"] {

  c-element {

    &[bold="true"] {
      font-weight: bold;
    }

  }

  [data-node-type="root"] {
    height: 80vh;
    overflow-y: auto;
  }

  [data-block-id] {
    position: relative;
    margin: .5em 0;

    > [contenteditable='false'] {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }

  /*[data-node-type="void"].selected {*/
  /*  user-modify: read-only;*/
  /*  -webkit-user-modify: read-only;*/
  /*}*/

  [data-zero-space="true"] {
    user-select: text;
    padding: 0 0.5px;
    outline: none;
  }

  [data-block-zero-space="true"] {
    position: absolute;
    cursor: text;
    font-size: 0;
  }

  .edit-container {
    white-space: break-spaces;

    span[contenteditable='false'] {
      margin: 0 2px;
    }

    c-text {
      word-break: break-word;
      text-wrap: wrap;
    }
  }

  @include todo-block();
  @include code-block();
  @include divider-block();
  @include callout-block();
}
