@import "./blocks/todo-block.scss";
@import "./blocks/code-block.scss";
@import "./blocks/divider-block.scss";
@import "./blocks/callout-block.scss";
@import "./blocks/table-block.scss";
@import "blocks/ordered-block";
@import "blocks/bullet-block";
@import "blocks/heading-block";
@import "blocks/image-block";
@import "blocks/attachment-block";
@import "blocks/embed-frame-block";
@import "blocks/bookmark-block";
@import "blocks/caption-block";

:root {
  //--bc-root-background-color: #fff;
  --bc-fs: 14px;
  --bc-fs-xs: calc(var(--bc-fs) - 2px);
  --bc-fs-sm: calc(var(--bc-fs) - 1px);
  --bc-fs-lg: calc(var(--bc-fs) + 2px);
  --bc-fs-xl: calc(var(--bc-fs) + 4px);
  --bc-fs-2xl: calc(var(--bc-fs) + 6px);
  --bc-fs-3xl: calc(var(--bc-fs) + 8px);
  --bc-lh: 20px;
  --bc-color: #333;
  --bc-color-light: #999;
  --bc-border-color: #ddd;
  --bc-border-color-light: #eee;
  --bc-warning-color: #f5a623;
  --bc-error-color: #e03131;
  --bc-active-color: #4857E2;
  --bc-active-color-light: #1890ff;
  --bc-error-background-color: rgba(224, 49, 49, 0.1);
  --bc-select-background-color: rgba(24, 144, 255, 0.3);
  --bc-segments-gap: 8px;
}

[data-blockcraft-root="true"] {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
  padding: 0 30px var(--bc-fs);
  font-size: var(--bc-fs);
  line-height: var(--bc-lh);
  //background-color: var(--bc-root-background-color);

  svg {
    vertical-align: top;
  }

  &.selecting, [data-node-type="block"].selecting {
    > [data-node-type="block"],
    > [data-node-type="void"] {
      -webkit-user-modify: read-only;

      * {
        user-select: none;
        -webkit-user-select: none;
      }

      [data-block-zero-space="true"] {
        user-select: text;
        -webkit-user-select: text;
      }
    }
  }

  &.all-selected {
    [data-block-id].selected {
      -webkit-user-modify: read-only !important;
    }
  }

  ::selection {
    background-color: var(--bc-select-background-color);
    color: #333;
    transition: background-color 0.15s ease-in-out;
  }

  [data-block-id] {
    position: relative;
    margin-bottom: var(--bc-segments-gap);
    caret-color: transparent;
    content-visibility: auto;

    > [contenteditable='false'] {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    &.selected {
      -webkit-user-modify: read-only;
      background-color: var(--bc-select-background-color);
      transition: background-color 0.15s ease-in-out;

      // TODO
      ::selection {
        background: transparent;
        color: inherit;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  [data-zero-space="true"] {
    user-select: text;
    padding: 0 0.5px;
    outline: none;
  }

  [data-block-zero-space="true"] {
    position: absolute;
    cursor: text;
    font-size: 0;
  }

  [data-node-type="block"] {
    //user-select: none;
    //-webkit-user-select: none;
  }

  .edit-container {
    white-space: break-spaces;
    user-select: text;

    span[contenteditable='false'] {
      margin: 0 2px;
    }

    c-element {

      &[bold="true"] {
        font-weight: bold;
      }

      &[italic="true"] {
        font-style: italic;
      }

      &[underline="true"] {
        text-decoration: underline;
      }

      &[strike="true"] {
        text-decoration: line-through;
      }

      &[underline="true"][strike="true"] {
        text-decoration: underline line-through;
      }

      &[sub="true"] {
        vertical-align: sub;
        font-size: small;
      }

      &[sup="true"] {
        vertical-align: super;
        font-size: small;
      }

      &:not([code]) + [code="true"] {
        padding-left: 0.2em;
        border-left: 1px solid rgb(234, 236, 239);
      }

      &[code="true"]:has(+ c-element:not([code])) {
        padding-right: 0.2em;
        border-right: 1px solid rgb(234, 236, 239);
      }

      &[code="true"] {
        font-family: monospace;
        background-color: rgb(242, 243, 245);
        border-top: 1px solid rgb(234, 236, 239);
        border-bottom: 1px solid rgb(234, 236, 239);
      }

      &[link] {
        color: var(--bc-active-color) !important;
        text-decoration: underline;
        cursor: pointer;

        a {
          color: inherit !important;
          text-decoration: none;
        }
      }

      &[strike="true"][link] {
        text-decoration: underline line-through;
      }

      &[data-comment] {
        background-color: rgba(255, 239, 186, .6);
        border-bottom: 4px solid rgba(255, 239, 186, 1);
      }
    }

    c-text, a {
      word-break: break-word;
      text-wrap: wrap;
    }
  }

  @include todo-block();
  @include ordered-block();
  @include bullet-block();
  @include code-block();
  @include divider-block();
  @include callout-block();
  @include table-block();
  @include heading-block();
  @include image-block();
  @include attachment-block();
  @include embed-frame-block();
  @include bookmark-block();

  @include caption-block();
}

.blockcraft-cursor {
  pointer-events: none;

  > span {
    z-index: 100;
    position: absolute;
    background-color: var(--bc-select-background-color);
  }
}
