@mixin text-ellipsis($lines: 3) {
  @if ($lines == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@mixin user-select($state: none) {
  -webkit-user-select: $state;
  -moz-user-select: $state;
  -ms-user-select: $state;
  user-select: $state;
}

@mixin user-modify($state: none) {
  -webkit-user-modify: $state;
  -moz-user-modify: $state;
  user-modify: $state;
}
