@mixin text-ellipsis($lines: 3) {
  @if ($lines == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
  } @else {
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
