@import "base";

[data-blockcraft-root="true"][data-theme="light"] {
  color: #333;

  c-element {

    &[bold="true"] {
      color: #000;
    }

  }

  .edit-container {
    caret-color: #000;
  }


  .code-block {
    background: #f5f5f5;
  }
}
