@import "base";

[data-blockcraft-root="true"][data-theme="light"] {
  color: #333;

  ::selection {
    background-color: var(--bc-select-background-color);
    color: #333;
  }

  c-element {

    &[bold="true"] {
      color: #000;
    }

  }

  .edit-container {
    caret-color: #000;
  }

  [data-block-id] {
    &.selected {
      background-color: var(--bc-select-background-color);
    }
  }

  div.ordered-block {

    .ordered-block-prefix {
      color: #1890ff;
    }

  }

  div.bullet-block {
    .bullet-block-prefix {
      color: #1890ff;
    }
  }

}
