.doc-header {
  margin: 68px 174px 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #E6E6E6;

  &__title {
    color: #333;
    font-size: 36px;
    font-weight: 600;
    outline: none;
    border: none;
    width: 100%;

    &::placeholder {
      color: #999;
    }
  }
}

.doc-main {
  padding: 0 144px;
}

